<!DOCTYPE html>
<html lang="en">
  <head>
    {{> includes/_googleanalytics}}
    {{> includes/_jquery}}
    <link rel="stylesheet" href="/css/main.css">
    <title>{{title}} - Pinpoint Shooting</title>
  </head>

  <body>
    <div class="header">
    </div>

    <div class="lh_panel">
      <a href="https://rust.graystorm.com/" target="_new"><img class="logo" src="/img/profile_picture.png"></a>

      {{#if x_real_ip}}
      Welcome {{user_name}} from {{x_real_ip}} using {{x_user_agent}}<br/><br/>
      <button id="logout">Logout</button><br/><br/>
      {{else}}
      <button id="login">Login</button><br/><br/>
      
      <button id="create_user">Create Free Acount</button><br/>
      <button id="create_from_flickr">Create Account Using Flickr</button><br/>
      <button id="create_from_500px">Create Account Using 500px</button><br/>
      {{/if}}
    </div>

    <div id="map" class="map">
      <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.495230, lng: -80.136490},
            zoom: 8
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initMap"
      async defer></script>
    </div>

    <div class="rh_panel">
      <div style="position:absolute; bottom: 10px; left: 10px;">
        <a href="https://github.com/jculverhouse/pinpoint_shooting" target="_new" style="font-size: .8em;color: white;">PinpointShooting on GitHub</a>
      </div>
    </div>
  </body>

</html>

